* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
		
.header{
    min-height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://gfx.nrk.no/Uqe9FAr8Rn5hWdxAt0zYTAGV-k92wVTfrTY2uC6GeXEg.jpg);
    background-position:bottom;
    background-size: cover;
   
}

.resten{
    
    padding-left: 30px;
    padding-right: 50px;
  background-color: white;
    
}

.del1{
    position: relative;
    left: 50px;
    width: 600px;
    
}

.del2{
    position: relative;
    left: 730px;
    width: 600px;
    top: -610px;
}

.naviger-reg ul li{
    list-style: none;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 50px;
    padding-right: 50px;
    background: #01AFBA;
    height: 1px;
    margin-left: 30px;
   
}

#prosjekt{
    background: orange;
}

.naviger-reg{
    flex: 1;
    text-align: center;
}

.naviger-reg ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 180px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #01AFBA;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.text-box label{
    font-size: 14px;
}

.text-box h1{
    font-size: 40px;
    text-align: center;
}

.text-box p{
    margin: 0px;
    font-size: 20px;
    color: #fff;
    font-weight: 580;
}

.opprett-btn{
    width: 8%;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 30px;
    font-size: 13px;
    background: black;
   position: absolute;
    bottom: -100%;
    left: 85%;
    cursor: pointer;
    font-weight: 580;
    border-radius: 8px;
    
}

.opprett-btn:hover{
    border: 1px solid #fff;
    background: #01AFBA;
    transition: 0.5s;
}


h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}



input[type=text]{  
  width: 96%;  
  padding: 15px;  
  margin: 0px 0 12px 0;  
  
  border: none;  
  background: #f1f1f1;  
}  
 

input[type=text]:focus{  
  background-color: #FFB74B;  
  outline: none;  
    border-radius: 6px;

} 

#checkboxes input{
    margin: 0px 5px 0px 3px;
}

#checkboxes{
    margin-top: 40px;
    
}
#checkboxes ul {
    
  margin: 15px;
    padding: 10px;
  list-style: none;
    font-size: 14px;
  
}

#checkboxes ul li{
    margin-top: 10px;
}

#checkboxes label{
    font-size: 16px;
    margin: 5px;
   
}


#checkboxes h1{
    color: black;
    font-size: 27px;
    margin-left: 60px;
   
    
}

#checkboxes #space{
   
    background: #f1f1f1;
    padding-top: 8px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 8px;
}


#button{
   
    background: black;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
   padding: 25px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 580;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    top: -480px;
    left: 25px;
    
}

a{
    color: white;
    text-decoration: none;
}

#button:hover{
    border: 1px solid #fff;
    background: #00D1DE;
    transition: 0.5s;
    text-decoration: none;
    
}

