<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Test for project creation form</title>
</head>
<body>
 <h1>Submit your project</h1>
 <form th:action="@{/projectdescription}" th:object="${projectdescription}" method="post">
     <p>Project title <input type="text" th:field="*{projectTitel}" /></p>
     <p>Company information<input type="text" th:field="*{companyInfo}" /></p>
     <p>Project description<input type="text" th:field="*{projectDescription}" /></p>
     <p>Tools<input type="text" th:field="*{tools}" /></p>
     <p>Language<input type="text" th:field="*{language}" /></p>
     <p>Programming language<input type="text" th:field="*{programminglanguage}" /></p>
     <p>Type of project<input type="text" th:field="*{projectType}" /></p>
     <p>Theme<input type="text" th:field="*{theme}" /></p>
     <p>Web address<input type="text" th:field="*{webAddress}" /></p>
     <p>Contact person<input type="text" th:field="*{contactPerson}" /></p>
     <p>Status<input type="text" th:field="*{status}" /></p>
     <p>Semester<input type="text" th:field="*{semester}" /></p>
     <p>Date of approval<input type="text" th:field="*{dateOfApproval}" /></p>
     
     <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
 
 </form>

</body>
</html>