<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0" charset="UTF-8">
	<title>Fullført registrering</title>
	<link rel="stylesheet" href="fullfort.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<section class="header">
		<nav>
			<a href="front.html"><img src="https://www.hvl.no/globalassets/hvl-internett/bilde/logo/hvl_logo_neg.png"></a>
			<div class="nav-links">
				<ul>
					<li><a href="front.html">HJEM</a></li>
					<li><a href="">MIN PROFIL</a></li>
					<li><a href="mineprosjekt.html">MINE PROSJEKTFORSLAG</a></li>
				</ul>
			</div>
		</nav>
		
		<div class="text-box">
			<h1>Takk for ditt bidrag!</h1>
			<img src="img/sendtinn.png">
			<p>Ditt prosjektforslag er nå under evaluering/godkjenning og ligger som et prosjektforslag 
			<br> under "Mine prosjektforslag". </p>
			<a href="mineprosjekt.html" class="opprett-btn">Ta meg til mine prosjektforslag</a>
		</div>
	
	</section>
	
	<section class="kontakt">
		<h1>Kontakt</h1>
		<p>Dersom det er ønskelig å få mer informasjon eller behøver svar på spørsmål blabla bla bla for å snjafjadjnJKDejndksal
		<br>olaSJlnlASKDJNekldøn hwdjaaekdjefnrbfkafnfbvjkel kontakt oss på tlf: 92773829</p>
	
	</section>

</body>

</html>