<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0", charset=UTF-8>
	<title>Opprett prosjekt</title>
	<link rel="stylesheet" href="opprettprosjekt.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<section class="header">
		<nav>
			<a href="front.html"><img src="https://www.hvl.no/globalassets/hvl-internett/bilde/logo/hvl_logo_neg.png"></a>
			<div class="nav-links">
				<ul>
					<li><a href="front.html">HJEM</a></li>
					<li><a href="">MIN PROFIL</a></li>
					<li><a href="mineprosjekt.html">MINE PROSJEKTFORSLAG</a></li>
				</ul>
			</div>
		</nav>
		
		<div class="text-box">
			<h1>Opprett ditt prosjektforslag</h1>
			  
			 <nav>
			<div class="naviger-reg">
				<ul>
					<li id="prosjekt"><a href="opprettprosjekt.html">STEG 1: PROSJEKTET</a></li>
					<li><a href="opprettoppdragsgiver.html">STEG 2: OPPDRAGSGIVER</a></li>
					<li><a href="pdf.html">STEG 3: FORHÅNDSVISNING</a></li>
				</ul>
			</div>
		</nav>
			 
			 
		</div>
			 
	</section>
			 
	<section class="resten">
			 <div id="checkboxes">
			 <h1>1. Informasjon om prosjektet</h1>
			 <label>Velg type for prosjekt (inntil 3 valg):</label>
			 	<div id="space">
  					<ul>
   					 <li><input type="checkbox"> App/systemutvikling generelt</li>
  					  <li><input type="checkbox"> App/systemutvikling integrasjon</li>
  					  <li><input type="checkbox"> App/systemutvikling full stack</li>
   					 <li><input type="checkbox"> App/systemutvikling backend</li>
   					 <li><input type="checkbox"> App/systemutvikling frontend</li>
   					 <li><input type="checkbox"> Webside</li>
   					 <li><input type="checkbox"> Grafisk/VR</li>
   					 <li><input type="checkbox"> Grafisk/annet</li>
   					 <li><input type="checkbox"> Maskinlæring/dataanalyse</li>
   					 <li><input type="checkbox"> Sensorer/monitorering</li>
   					 <li><input type="checkbox"> Drift</li>
   					 <li><input type="checkbox"> Skyløsning</li>
   					 <li><input type="checkbox"> Utvurdering</li>
   					 <li><input type="checkbox"> UX</li>
   					 <li><input type="checkbox"> Annet</li>
 					 </ul>
 				</div>
 				
 				<label>Tema/domene for løsning (inntil 2 valg):</label>
 				<div id="space">
  				
  					<ul>
   					 <li><input type="checkbox"> Bank/finans/fintech</li>
  					  <li><input type="checkbox"> FoU</li>
  					  <li><input type="checkbox"> Handel/Service</li>
   					 <li><input type="checkbox"> Helse</li>
   					 <li><input type="checkbox"> Kommunalt/offentlig</li>
   					 <li><input type="checkbox"> Spill</li>
   					 <li><input type="checkbox"> Undervisning</li>
 					 </ul>
 					 
 					 
 				</div>

 				
 				
			
				<a href="opprettoppdragsgiver.html"><div id="button">Neste side</div></a>
			 
				
 				
 				
			</div>
			
			
		
		</section>
		
	
	
	

</body>

</html>