<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0", charset=UTF-8>
	<title>Min profil</title>
	<link rel="stylesheet" href="tidligereProsjekt.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<section class="header">
		<nav>
			<a href="front.html"><img src="https://www.hvl.no/globalassets/hvl-internett/bilde/logo/hvl_logo_neg.png"></a>
			<div class="nav-links">
				<ul>
					<li><a href="front.html">HJEM</a></li>
					<li><a href="minProfil.html">MIN PROFIL</a></li>
					<li><a href="mineprosjekt.html">MINE PROSJEKTFORSLAG</a></li>
				</ul>
			</div>
		</nav>
		
		<div class="text-box">
			<h1>Mine prosjektforslag</h1>
			  
			 <nav>
			<div class="naviger-reg">
				<ul>
					<li><a href="mineProsjekt.html">Mine pågående prosjektforslag</a></li>
					<li id="prosjekt"><a href="tidligereProsjekt.html">Mine tidligere prosjektforslag</a></li>
				
				</ul>
			</div>
		</nav>
			 
			 
		</div>
			 
	</section>
			 
		<section class="resten">
			
			 
			 <h1>Mine tidligere prosjektforslag</h1>
			
			 <label>Prosjekttittel 1</label>
			 	
 				
 			
			
			
		</section>
		
</body>

</html>